<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>viewservlets.HomePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackHomeLink</servlet-name>
        <servlet-class>viewservlets.BackHomeLink</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>viewservlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>viewservlets.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>viewservlets.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPlant</servlet-name>
        <servlet-class>viewservlets.ViewPlant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Purchase</servlet-name>
        <servlet-class>workservlets.Purchase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>workservlets.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCart</servlet-name>
        <servlet-class>viewservlets.ViewCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>workservlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>viewservlets.ViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAction</servlet-name>
        <servlet-class>workservlets.OrderAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetail</servlet-name>
        <servlet-class>viewservlets.ViewOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccount</servlet-name>
        <servlet-class>viewservlets.ViewAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAccount</servlet-name>
        <servlet-class>workservlets.ChangeAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewAccount</servlet-name>
        <servlet-class>admin.view.AdminViewAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminPageView</servlet-name>
        <servlet-class>admin.view.AdminPageView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewOrder</servlet-name>
        <servlet-class>admin.view.AdminViewOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusSwitch</servlet-name>
        <servlet-class>admin.work.StatusSwitch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewCategory</servlet-name>
        <servlet-class>admin.view.AdminViewCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryAction</servlet-name>
        <servlet-class>admin.work.CategoryAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminViewPlant</servlet-name>
        <servlet-class>admin.view.AdminViewPlant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlantAction</servlet-name>
        <servlet-class>admin.work.PlantAction</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackHomeLink</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPlant</servlet-name>
        <url-pattern>/ViewPlant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Purchase</servlet-name>
        <url-pattern>/Purchase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/AddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCart</servlet-name>
        <url-pattern>/ViewCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/ViewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAction</servlet-name>
        <url-pattern>/OrderAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetail</servlet-name>
        <url-pattern>/ViewOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccount</servlet-name>
        <url-pattern>/ViewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAccount</servlet-name>
        <url-pattern>/ChangeAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewAccount</servlet-name>
        <url-pattern>/AdminViewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminPageView</servlet-name>
        <url-pattern>/AdminPageView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewOrder</servlet-name>
        <url-pattern>/AdminViewOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusSwitch</servlet-name>
        <url-pattern>/StatusSwitch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewCategory</servlet-name>
        <url-pattern>/AdminViewCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryAction</servlet-name>
        <url-pattern>/CategoryAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminViewPlant</servlet-name>
        <url-pattern>/AdminViewPlant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlantAction</servlet-name>
        <url-pattern>/PlantAction</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
